export default {
  ERESAMONT_BACKEND_URL: "",
  MIDATA_AUTH2_CONFIG: {
    issuer: "",
    clientId: "",
    serviceConfiguration: {
      authorizationEndpoint: "",
      tokenEndpoint: "",
      revocationEndpoint: "",
    },
  },
  MAPS_BASE_URL: "",
};